

<div class="container mt-4">

  <owl-carousel-o [options]="customOptions">
    <ng-container *ngFor="let slide of topDeals">
      <ng-template carouselSlide [id]="slide.id">
        <div class="card shadow" style="width: 18rem;">
          <img [src]="slide.productImageSlug[0]" class="" alt="..."
            height="250" width="200" [routerLink]="['/view-product-details',slide.drugCode]">
          <div class="card-body" style="height:162px;">
            <h5 class="card-title card-description" [title]="slide.description">{{slide.description}}</h5>
            <p class="card-text text-muted">{{slide.type}}</p>
            <p class="card-text">MRP ₹&nbsp; <span class="me-2 text-decoration-line-through" *ngIf="slide.actualPrice != slide.discountPrice">{{slide.actualPrice}}</span> {{slide.discountPrice}}<button type="button" class="btn btn-outline-primary ms-4 btn-sm" (click)="addToCart(slide)">ADD</button></p>
          </div>
        </div>
      </ng-template>
    </ng-container>

  </owl-carousel-o>
</div>



 <!-- <div class="container mt-4">
  <owl-carousel-o [options]="customOptions">
    <ng-template carouselSlide>
        <div class="card" style="width: 18rem;">
            <img src="https://mb-meds-assets.medibuddy.in/medicineImages/381015.jpg" class="card-img-top" alt="..." height="200" width="200">
            <div class="card-body">
              <h5 class="card-title">ELECTRAL POWDER 4.4GM</h5>
              <p class="card-text" text-muted>SACHET </p>
             <p class="card-text">MRP ₹&nbsp; 4.5</p>
            </div>
          </div>
    </ng-template>  
    <ng-template carouselSlide>
        <div class="card" style="width: 18rem;">
            <img src="https://mb-meds-assets.medibuddy.in/medicineImages/10014260.jpg" class="card-img-top" alt="..." height="200" width="200">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
    </ng-template>  
    <ng-template carouselSlide>
        <div class="card" style="width: 18rem;">
            <img src="https://mb-meds-assets.medibuddy.in/medicineImages/1000054657.jpg" class="card-img-top" alt="..." height="200" width="200">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
    </ng-template>  
    <ng-template carouselSlide>
        <div class="card" style="width: 18rem;">
            <img src="https://mb-meds-assets.medibuddy.in/medicineImages/1000054657.jpg" class="card-img-top" alt="..." height="200" width="200">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
    </ng-template> 
  </owl-carousel-o>
</div>
   -->